<nav class="navigation navbar d-flex flex-row p-0 sticky-top">
    <div class="container">
        <div id="branch-name" class="navbar-brand p-2">
            <h4 class="px-1">
                <p>IVIVU</p>
            </h4>
        </div>
        <div id="nav-spacing">
        </div>
        <ul id="menu" class="navbar-nav d-flex flex-row p-2">
            <li class="navbar-item flex-fill">
                <a class="nav-link menu-text" href="/KhachHang/danh_sach_khach_san">Khách Sạn</a>
            </li>
            <li class="navbar-item flex-fill">
                <a class="nav-link menu-text" href="/KhachHang/danh_sach_loai_phong">Loại phòng</a>
            </li>
            <li class="navbar-item flex-fill">
                <a class="nav-link menu-text" href="/KhachHang/danh_sach_phong">Phòng</a>
            </li>
        </ul>
    </div>
</nav>
