<nav class="navigation navbar d-flex flex-row p-0 sticky-top">
    <div class="container">
        <a href="/Home/index">
            <div id="branch-name" class="navbar-brand p-2">
                <h4 class="px-1 no-under-line title-text">
                    IVIVU
                </h4>
            </div>
        </a>
        <div id="nav-spacing">
        </div>
        <ul id="menu" class="navbar-nav d-flex flex-row p-2">
            <li class="navbar-item flex-fill">
                <a class="nav-link menu-text" href="/KhachHang/tim_khach_san">Khách Sạn</a>
            </li>
            <li class="navbar-item flex-fill">
                <a class="nav-link menu-text" href="/KhachHang/index">Khách Hàng</a>
            </li>
            <li class="navbar-item flex-fill">
                <a class="nav-link menu-text" href="/KhachHang/dang_nhap">Đăng nhập</a>
            </li>
        </ul>
    </div>
</nav>
