@model System.Web.Mvc.HandleErrorInfo

<div class="container mt-5">
	<h2>Bạn cần đăng nhập để tiếp tục chức năng này</h2>
	<br/>
	<a href="/KhachHang/dang_nhap" class="btn btn-info">Đăng Nhập</a>
</div>
