.navigation {
    background-color: #273E47;
    height: 90px;
    color: #DCEDB9;
    z-index: 2
}

#branch-name {
    flex: 1
}

#menu {
    flex: 2
}

.menu-text {
    color: #DEE2FF
}

#nav-spacing {
    flex: 2
}

.footer {
    background-color: #273E47;
    height: 80px;
    font-size: 8;
    bottom: 0;
    color: #DCEDB9;
}

.fade-text {
    color: rgba(0, 0, 0, 0.4);
}

.clear-text {
    color: rgba(0, 0, 0, 0.7);
}

.title-text {
    color: #F4EBBE;
}

.no-under-line {
    text-decoration: none !important;
}