@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<form action="/Admin/dang_xuat" method="POST" id="dang-xuat">
    <input type="submit" name="Dang Xuat"/>
</form>