@{
    ViewBag.Title = "thong_ke_hoa_don";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="../../Content/QuanTri/thong_ke_hoa_don.css">

<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <div class="d-flex flex-column justify-content-around pl-3 pt-5">
                <div class="side-button">
                    <a class="btn btn-info w-100 text-center light-text" href="/QuanTri/thong_ke_dat_phong">+ Tạo Hóa đơn mới</a>
                </div>
            </div>
        </div>
        <div class="col-9">
            <div class="pr-5">
                <div class="title d-flex flex-row align-items-stretch">
                    <div class="p-4">
                        <h3 class="text-justify text-capitalize m-0">thống kê hoá đơn</h3>
                    </div>
                </div>
                <div>
                    <table id="statistics" class="display mt-4 table table-striped table-bordered" style="width:100%">
                        <thead>
                            <th>Mã hóa đơn</th>
                            <th>Ngày thanh toán</th>
                            <th>Mã Đặt Phòng</th>
                            <th>Tổng tiền</th>
                        </thead>
                        <tbody id='table-content'></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $.ajax({
                url: "/api/HoaDon"
            }).done(function (data) {
                data = JSON.parse(data).data;
                var content = ""
                data.forEach(function(item){
                    content += "<tr>";
                    content += "<td>" + item.maHD + "</td>";
                    content += "<td>" + item.ngayThanhToan + "</td>";
                    content += "<td>" + item.maDP + "</td>";
                    content += "<td>" + item.tongTien + "</td>";
                    content += "</tr>";
                })
                $("#table-content").html(content);
                $('#statistics').DataTable({
                    paging: true,
                    lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],
                });
            })
        });
    </script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
</div>