<div>
            <label>Ho va Ten: </label>
            <input type="text" name="hoTen" id="hoTen"/>        
        </div>
@{
    ViewBag.Title = "DangKy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DangKy</h2>
<div>
    <form id="form-dang-nhap" action="KhachHang/post-dang-ky" method="post">
        <div>
            <label>Ho va Ten: </label>
            <input type="text" name="hoTen" id="hoTen"/>        
        </div>
        <div>
            <label>Ten dang nhap: </label>
            <input type="text" name="tenDangNhap" id="tenDangNhap"/>        
        </div>
        <div>
            <label>Mat Khau: </label>
            <input type="password" name="matKhau" id="matKhau"/>        
        </div>
        <div>
            <label>So CMND: </label>
            <input type="text" name="soCMND" id="soCMND"/>        
        </div>
        <div>
            <label>So Dien Thoai: </label>
            <input type="text" name="soDienThoai" id="soDienThoai"/>        
        </div>
        <div>
            <label>Email: </label>
            <input type="text" name="email" id="email"/>        
        </div>
        <div>
            <label>Mo ta: </label>
            <textarea name="moTa" form="form-dang-nhap" maxlength=300></textarea>
        </div>
    </form>
</div>
