@model ivivu.Models.KhachHang
@{
    ViewBag.Title = "Thong tin Co Ban";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index </h2>
<form action="/KhachHang/dang_xuat" method="POST" id="dang-xuat">
    <input type="submit" name="Dang Xuat"/>
</form>

<!-- them phan thong tin co ban khach hang tai day -->
<!-- @Model.tenDangNhap, @Model.diaChi, ... -->